<nav class="ui-card marketplace-menu" aria-label="Marketplace categories">
  <div class="marketplace-menu__track">
    <%= link_to "Departments", catalog_path, class: "marketplace-menu__link" %>
    <%= link_to "Services", services_path, class: "marketplace-menu__link" %>
    <%= link_to "Deals", search_path(sort: "price_asc"), class: "marketplace-menu__link" %>
    <%= link_to "New & Trending", search_path(sort: "newest"), class: "marketplace-menu__link" %>
    <% @marketplace_navigation_tags.each do |tag| %>
      <%= link_to tag.label, search_path(tag_id: tag.id), class: "marketplace-menu__link" %>
    <% end %>
    <%= link_to "Merchants", search_path, class: "marketplace-menu__link" %>
  </div>
</nav>
